# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.gradle/
/docs/
/src/main/java/ru/vachok/ethosdistro/class.txt
/ethosdistro.srctrldb
/ethosdistro.srctrlprj
/ethosdistro.srctrlbm
/answer.json
/answer.html
/ESender.properties
/InitProperties.properties
/chess.properties
/regru.obj
/logs/
*.log
*.prn
build/
/MessagesFromServer.properties
/checker.obj
/src/test/
